<section class='home-my-schedule'>
  <h2>My Schedule</h2>

  <% @events.each do |event| %>
    <div class='home-schedule-event common-radius'>
      <%= link_to event.title, event %>
      <span><%= event.time_slot.present? ? event.time_slot : 'Not placed yet'%></span>
    </div>
  <% end %>
</section>