<div class='coin-bounce'>
  <div class='coin'>
    <div class='front face'>
      <img src='https://friend-con-app.fly.dev/assets/shield_white-890c80fbc3cf96c5b709515f9539fcb2d6b1eee7361353ad5fad0d053027d8cf.png' />
      
      <svg viewBox="0 0 138 182" fill="none" xmlns="http://www.w3.org/2000/svg">
<rect width="86.8988" height="86.8988" transform="matrix(0.790788 0.612091 -0.790788 0.612091 68.7185 0)" fill="#E6D72C"/>
<rect width="86.8988" height="86.8988" transform="matrix(0.790788 0.612091 -0.790788 0.612091 68.7185 74.9235)" fill="#E6D72C"/>
<rect x="0.176636" y="53.1899" width="137.26" height="75.0852" fill="#E6D72C"/>
<path d="M12.8682 121.022V60.6643L69.2465 18.6895L125.005 60.6643V121.022L69.2465 161.771L12.8682 121.022Z" stroke="black" stroke-opacity="0.56" stroke-width="10"/>
</svg>
    
    </div>
    <div class='back face'>
      <svg viewBox="0 0 138 182" fill="none" xmlns="http://www.w3.org/2000/svg">
<rect width="86.8988" height="86.8988" transform="matrix(0.790788 0.612091 -0.790788 0.612091 68.7185 0)" fill="#E6D72C"/>
<rect width="86.8988" height="86.8988" transform="matrix(0.790788 0.612091 -0.790788 0.612091 68.7185 74.9235)" fill="#E6D72C"/>
<rect x="0.176636" y="53.1899" width="137.26" height="75.0852" fill="#E6D72C"/>
<path d="M12.8682 121.022V60.6643L69.2465 18.6895L125.005 60.6643V121.022L69.2465 161.771L12.8682 121.022Z" stroke="black" stroke-opacity="0.56" stroke-width="10"/>
</svg>
      
    </div>
    
    <div class='side left'></div>
    <div class='side left top'></div>
    <div class='side left bottom'></div>
    <div class='side right'></div>
    <div class='side right top'></div>
    <div class='side right bottom'></div>
  </div>
</div>