<head>
  <title>Friend Con</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <link href="https://db.onlinewebfonts.com/c/426858ed04a545dda02248f8c4ca1d9d?family=Angel+rhapsody+Regular" rel="stylesheet">
  <%#= render 'layouts/favicon' %>
  <link rel="stylesheet" href="https://use.typekit.net/wwa6wne.css">
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>