<!DOCTYPE html>
<html>
  <%= render 'layouts/head' %>

  <body>
    <%= render 'layouts/head_nav' %>
    <main>
      <div class='container'>
        
        <%= render 'layouts/alerts' %>
        <%= yield %>
      </div>
    </main>
  </body>
</html>
